@import "variables";
@import "base";

/**** Queries ******/

@media (max-width: rem(650px)) {
  .grid-component {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: pink;
  }
}
